.directory-container {
  background-color: #272727;
  color: white;
  padding: 20px;
  min-height: 100vh;
  background-image: url(/src/assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Center the search bar and make it wider */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px auto; /* Center the search bar with automatic margins */
  width: 75%; /* Set the width of the search bar to 75% of its parent container */
}

.search-bar form {
  display: flex;
  align-items: center;
  background-color: #3e4051;
  border-radius: 10px;
  padding: 10px;
  width: 100%; /* Make the form take the full width of the .search-bar container */
  max-height: 30px;
}

.search-bar input {
  border: none;
  background: transparent;
  color: #9c9c9c;
  margin-right: 10px;
  padding: 10px;
  width: calc(100% - 50px); /* Adjust width to account for button width and padding */
}

.search-bar button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px; /* Add padding to the button for better clickability */
  width: 40px; /* Set a fixed width for the button */
}

/* User cards styling */
.user-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-card a {
  text-decoration: none;
  color: inherit;
}

/* Add other styles from your Figma design as needed */

.user-name {
  font-size: 1.4em; /* Adjust the size as needed */
  margin-bottom: 7px;
}

.user-college {
  font-size: 0.9em; /* Adjust the size as needed */
}

/* ... other styles ... */

/* Responsive design for mobile devices */
/* ... other styles ... */

/* Responsive design for mobile devices */
@media (max-width: 768px) {
  .user-cards {
    justify-content: space-between; /* This will ensure there is space between the cards */
  }

  .user-card {
    width: 48%; /* Slightly less than 50% to account for padding/margins */
    margin-bottom: 20px; /* Add some space below each card */
  }

  /* Adjust the search bar for smaller screens */
  .search-bar {
    width: 90%; /* Make the search bar wider on smaller screens */
    margin: 10px auto; /* Center the search bar with automatic margins */
  }
}
