.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em; /* Use em for padding */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width */
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto; /* Center the menu bar if it's not full width */
    max-width: 100%; /* Ensure the max width does not exceed the viewport */
  }
  
  .menu-item, .home-link, .sign-in-button {
    color: #d1d1d1;
    font-family: "Poppins-SemiBold", Helvetica, sans-serif;
    font-size: 1em; /* Use em for font-size */
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1; /* Adjust line height to be relative */
    cursor: pointer;
    white-space: nowrap;
    margin-right: 2em; /* Use em for margin-right */
    text-decoration: none;
  }
  
  .menu-item:last-child, .profile-login-container {
    margin-right: 0;
  }
  
  .menu-item:hover, .home-link:hover, .sign-in-button:hover {
    color: #ffffff;
  }
  
  .home-link {
    font-size: 1.5em; /* Use em for font-size */
    color: #ffffff;
    font-weight: 700;
  }
  
  .profile-login-container {
    margin-left: auto;
    margin-right: 1em; /* Ensure there is space on the right */
  }
  
  /* Responsive adjustments */
  @media (max-width: 48em) { /* 768px / 16px = 48em */
    .menu-item, .home-link {
      font-size: 0.875em; /* Smaller font size for smaller screens */
      margin-right: 1.25em; /* Less space between menu items */
    }
  
    .home-link {
      font-size: 1.25em; /* Slightly smaller font size for home link */
    }
  
    .menu-bar {
      padding: 1em 1em; /* Adjust padding */
    }
  }
  
  @media (max-width: 30em) { /* 480px / 16px = 30em */
    .menu-item, .home-link {
      font-size: 0.75em; /* Even smaller font size for very small screens */
      margin-right: 1em; /* Even less space between menu items */
    }
  
    .home-link {
      font-size: 1.125em; /* Adjust home link size accordingly */
    }
  
    .menu-bar {
      padding: 1em 0.5em; /* Minimal padding on the sides */
    }
  
    .profile-login-container {
      margin-right: 0.5em; /* Less space on the right for very small screens */
    }
  
    /* Considerations for very small screens, such as a hamburger menu, can be made here */
  }
  