.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    position: relative; /* Needed for absolute positioning of the home link */
  }
  
  .menu-item {
    color: #d1d1d1;
    font-family: "Poppins-SemiBold", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 80.5px;
    cursor: pointer; /* Change cursor to pointer to indicate clickable items */
    white-space: nowrap;
    margin-right: 32px; /* Half of your gap size to create equal spacing on both sides */
  }
  
  .menu-item:hover {
    color: #ffffff; /* Change color on hover for visual feedback */
  }
  
  .home-link {
    position: absolute;
    left: 10px; /* Adjust as needed */
    font-size: 24px; /* Larger font size for home link */
    color: #ffffff; /* Different color for home link */
    font-weight: 700;
  }
  
  /* Adjust the margin-left for the first menu item after the home link to create a large gap */
  .menu-item:first-of-type {
    margin-left: 200px; /* Adjust the value to create a large gap */
  }
  