/* SignIn.css */
.sign-in-button {
  /* Button styles */
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(255, 105, 97, 0.7); /* Softer red with transparency */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: rgba(255, 105, 97, 0.9); /* Less transparent on hover */
}
